[package]
authors = ["Carl Lerche <me@carllerche.com>"]
edition = "2018"
name = "mini-redis"
version = "0.1.0"

[dependencies]
atoi = "0.3.2"
bytes = "0.5.4"
clap = { git = "https://github.com/clap-rs/clap/" }
tokio = { git = "https://github.com/tokio-rs/tokio", features = ["full"] }
tracing = "0.1.13"
tracing-futures = { version = "0.2.3", features = ["tokio"] }
tracing-subscriber = "0.2.2"

[dev-dependencies]
# Enable test-utilities in dev mode only. This is mostly for tests.
tokio = { git = "https://github.com/tokio-rs/tokio", features = ["test-util"] }
